.container {
  background-color: #5B6946 ;
  padding: 3rem 2rem;
}

.conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.titulo {
  display: flex;
  align-items:center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.descricao{
  display: flex;
  width: 100%;
  max-width: 78vw;
  margin-bottom: 5rem;
}

.descricao img {
  margin-bottom: 2rem;
}

.descricao h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.descricao div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 100%;
  margin-right: 5rem;
}

@media screen and (max-width: 900px) { 

  .conteudo div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70vw;
  }

  .titulo {
    max-width: 50vw;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .titulo img{
    width: 100px;
    height: 100px;
  }

  .descricao div {
    margin-right: 0rem;
    padding: 2rem 0;
    border-bottom: 1px solid #c1c1c1;
    text-align: justify;
  }

  .descricao h3 {
    font-size: 1.5rem;
  }

  .descricao div p {
    text-align: center;
    width: 100%;
    max-width: 70vw;
    text-align: justify;
    font-size: 0.9rem;
  }

}

@media screen and (max-width: 600px) { 
  .titulo {
    font-size: 1.5rem;
  }

  .descricao {
    font-size: 1.2rem;
  }

  .descricao h3 {
    font-size: 1.2rem;
  }
  .descricao div {
    padding: 1rem 0;

  }
}

@media screen and (max-width: 460px) { 
  .titulo {
    font-size: 1.2rem;
  }

  .descricao {
    font-size: 1rem;
  }

  .descricao h3 {
    font-size: 1rem;
  }

}