:root {
  --plyr-color-main: #FD883D;
  --plyr-font-family: 'Times New Roman', Times, serif
}

body {
  background-color: #FAEFE6;
  margin: 0;
  width: 100%;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p, ul {
  margin: 0;
}