.container {
  padding: 3rem 2rem;
}

.conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 6rem;
}

.titulo h2 {
  font-size: 3rem;
  width: 100%;
  max-width: 22vw;
  line-height: 1.5;
  color: #5B6946;
}

.descricao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: justify;
}

.descricao h3 {
  color: #5B6946;
}

.descricao div {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  width: 100%;
  max-width: 45vw;
}

.descricao div div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 900px) {
  .conteudo {
    flex-direction: column;
  }

  .titulo {
    align-items: center;
    margin-right: 0 ;
  }

  .titulo h2 {
    font-size: 2rem;
    text-align: center;
    max-width: 80vw;
  }

  .descricao div {
    max-width: 90vw;
  }

  .descricao div h3{
    font-size: 1.2rem;
  }
  .descricao div p{
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {

  .container {
    padding: 1rem 0.5rem;
  }

  .titulo h2 {
    font-size: 1.5rem;
    max-width: 70vw;
  }

  .descricao div {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 100%;
  }

  .descricao div img {
    width: 150px;
    height: 150px;
  }

  .descricao div h3{
    font-size: 1rem;
  }
  .descricao div p{
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 460px) {


  .descricao div {
    max-width: 90vw;
  }
  
}